.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    border: 2px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.container input[type="text"],
.container select {
    width: calc(50% - 5px);
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.container select {
    cursor: pointer;
}

.container button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.container button:hover {
    background-color: #45a049;
}

.result-box {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
    border: 2px solid #4CAF50;
    border-radius: 4px;
    background-color: #e6ffe6;
    color: #4CAF50;
    text-align: center;
    width: 500px
}
